<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">           
    </head>
<body>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">HOME</h1>
            </div></br></br></br>
            <p><a href=""{{url_for('register')}}"">Register Here!</a></p>
            <p><a href=""{{url_for('login')}}"">Login!</a></p>

            <!-- <p><a href="http://127.0.0.1:5000/register">Register Here!</a></p>
            <p><a href="http://127.0.0.1:5000/upload">Count the number of words via file upload!</a></p>
            <p><a href="http://127.0.0.1:5000/login">Login!</a></p> -->
            </div>
        </div>
</body>

</html>
